<!DOCTYPE html>
<html lang="en">
<head>
    <title>Haiku Generator</title>
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body >
    <head>
		<pr/>
		<br/>
		
		<font color="red" size=30>
		<pre><marquee style="border:BLUE 3px SOLID">HAIKU GENERATOR!! </marquee>
		</font>
		</pre>
	</head>
	<font color="black" size=5>
	<pre>				<b>Press the button to generate a Haiku!!</b>
		
							<button id="requestedNewHaiku" class="button button5">Generate Haiku</button>
		
		</font>
</div>
    <p id='msg1' style="color:rgb(255, 0, 0)"></p>
    <p id = 'msg2'></p>
<script type='text/javascript'src = "app.js"></script>
</body>
</html>